configuration {
	modi: "drun,window,filebrowser";
	icon-theme: "Papirus Dark";
	show-icons: true;
	terminal: "qterminal";
	location: 0;
	disable-history: true;
	hide-scrollbar: true;
	display-drun: "  Apps";
	display-window: "  Window";
	display-filebrowser: "  Files";
	display-emoji: "Emoji";
	sidebar-mode: true;
}

@theme "/home/oscarm3615/.local/share/rofi/themes/catppuccin-macchiato.rasi"
